body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 800px;
  margin: 50px auto;
}

.App-nav{
  display: flex;
  list-style: none;
}

.App-nav li{
  margin-right: 15px;
}

.App-nav li a {
  text-decoration: none;
  color: black;
}

.App-nav li a.active{
  color:red
}