.wrapper {
  width: 800px;
  margin: 0 auto;
  text-align: left;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 670px;
  justify-content: left;
}

button {
  background-color: rgb(10, 73, 54);
  color: white;
  padding: 10px;
  margin: 50px 10px;
}

.item {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
